body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(https://media.istockphoto.com/id/1418642886/vector/cinema-movie-copy-space-on-yellow-background-movie-and-cinema-video-concept-vector.jpg?s=612x612&w=0&k=20&c=xVfE84n1KjerNRtGH0tnL4Q--5zGp0DvWaukXa9i0QA=);
    
  }
  
  header {
    background-color: #051f74;
    color: #fff;
    padding: 1em;
    text-align: center;
  }

  
  nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #051f74;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px #051f74;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #051f74;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #051f74;
  }
  
  #moviesList, #adminMoviesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .movie {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px #051f74;
    width: 200px;
    text-align: center;
  }